pyrofork==2.2.11
tgcrypto  
requests  
bs4  
shortzy  
datetime  
pytz  
aiohttp 
yt-dlp 
youtube-dl 
requests 
ytthumb 
jinja2 
apscheduler 
pyshorteners 
colorama 
NumPy  
wheel  
ujson  
wget  
pytz 
aiofiles 
hachoir 
python-decouple  
ffmpeg 
youtube_search 
pymongo[srv]==3.12.3  
motor==2.5.1  
marshmallow==3.14.1  
umongo==3.0.1  
PyLeaves==1.0.2 
youtube-search-python==1.4.6 
opencv-python-headless==4.7.0.68  
googletrans
telegraph
python-dotenv
gTTS
speedtest
humanize
Pillow
psutil
dnspython
ffmpeg-python
openai
git+https://github.com/Joelkb/cinemagoer
